<!--BANK_A-->
<button class="padA13" onclick="play_note_     ">              </button>
<button class="padA14" onclick="play_note_     ">              </button>
<button class="padA15" onclick="play_note_     ">              </button>
<button class="padA16" onclick="play_note_     ">              </button>

<button class="padA09" onclick="play_note_     ">              </button>
<button class="padA10" onclick="play_note_     ">              </button>
<button class="padA11" onclick="play_note_     ">              </button>
<button class="padA12" onclick="play_note_     ">              </button>

<button class="padA05" onclick="play_note_     ">              </button>
<button class="padA06" onclick="play_note_     ">              </button>
<button class="padA07" onclick="play_note_     ">              </button>
<button class="padA08" onclick="play_note_     ">              </button>

<button class="padA01" onclick="play_note_     ">              </button>
<button class="padA02" onclick="play_note_     ">              </button>
<button class="padA03" onclick="play_note_     ">              </button>
<button class="padA04" onclick="play_note_     ">              </button>

<!--BANK_B-->
<button class="padB13" onclick="play_note_     ">              </button>
<button class="padB14" onclick="play_note_     ">              </button>
<button class="padB15" onclick="play_note_     ">              </button>
<button class="padB16" onclick="play_note_     ">              </button>

<button class="padB09" onclick="play_note_     ">              </button>
<button class="padB10" onclick="play_note_     ">              </button>
<button class="padB11" onclick="play_note_     ">              </button>
<button class="padB12" onclick="play_note_     ">              </button>

<button class="padB05" onclick="play_note_     ">              </button>
<button class="padB06" onclick="play_note_     ">              </button>
<button class="padB07" onclick="play_note_     ">              </button>
<button class="padB08" onclick="play_note_     ">              </button>

<button class="padB01" onclick="play_note_     ">              </button>
<button class="padB02" onclick="play_note_     ">              </button>
<button class="padB03" onclick="play_note_     ">              </button>
<button class="padB04" onclick="play_note_     ">              </button>

<!--BANK_C-->
<button class="padC13" onclick="play_note_     ">              </button>
<button class="padC14" onclick="play_note_     ">              </button>
<button class="padC15" onclick="play_note_     ">              </button>
<button class="padC16" onclick="play_note_     ">              </button>

<button class="padC09" onclick="play_note_     ">              </button>
<button class="padC10" onclick="play_note_     ">              </button>
<button class="padC11" onclick="play_note_     ">              </button>
<button class="padC12" onclick="play_note_     ">              </button>

<button class="padC05" onclick="play_note_     ">              </button>
<button class="padC06" onclick="play_note_     ">              </button>
<button class="padC07" onclick="play_note_     ">              </button>
<button class="padC08" onclick="play_note_     ">              </button>

<button class="padC01" onclick="play_note_     ">              </button>
<button class="padC02" onclick="play_note_     ">              </button>
<button class="padC03" onclick="play_note_     ">              </button>
<button class="padC04" onclick="play_note_     ">              </button>

<!--BANK_D-->
<button class="padD13" onclick="play_note_     ">              </button>
<button class="padD14" onclick="play_note_     ">              </button>
<button class="padD15" onclick="play_note_     ">              </button>
<button class="padD16" onclick="play_note_     ">              </button>

<button class="padD09" onclick="play_note_     ">              </button>
<button class="padD10" onclick="play_note_     ">              </button>
<button class="padD11" onclick="play_note_     ">              </button>
<button class="padD12" onclick="play_note_     ">              </button>

<button class="padD05" onclick="play_note_     ">              </button>
<button class="padD06" onclick="play_note_     ">              </button>
<button class="padD07" onclick="play_note_     ">              </button>
<button class="padD08" onclick="play_note_     ">              </button>

<button class="padD01" onclick="play_note_     ">              </button>
<button class="padD02" onclick="play_note_     ">              </button>
<button class="padD03" onclick="play_note_     ">              </button>
<button class="padD04" onclick="play_note_     ">              </button>